[project]
name = "pyhrp"
version = "0.0.0"
description = "Hierarchial risk parity"
authors = [{name = "Thomas Schmelzer", email = "thomas.schmelzer@gmail.com"}]
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "numpy>=2.3",
    "pandas>=2",
    "scipy>=1.14.1",
]

[project.urls]
repository = "https://github.com/tschm/pyhrp"
homepage = "https://tschm.github.io/pyhrp"

[dependency-groups]
dev = [
    "matplotlib>=3.10.3",
    "pyportfolioopt>=1.5.6",
    "marimo>=0.14.9",
    "polars==1.36.1",
    "security>=1.3.1",
    "pyarrow>=22.0.0",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["src/pyhrp"]
