[project]
name = "pyhrp"
version = "0.0.0"
description = "Hierarchial risk parity"
authors = [{name = "Thomas Schmelzer", email = "thomas.schmelzer@gmail.com"}]
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "numpy>=2.3",
    "pandas>=2",
    "scipy>=1.14.1",
]

[project.urls]
repository = "https://github.com/tschm/pyhrp"
homepage = "https://tschm.github.io/pyhrp"

[dependency-groups]
dev = [
    "matplotlib>=3.10.3",
    "pyportfolioopt>=1.5.6",
    "marimo>=0.14.9",
    "polars==1.37.1",
    "security>=1.3.1",
    "pyarrow>=22.0.0",
    "plotly<6.6",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["src/pyhrp"]

[tool.mypy]
ignore_missing_imports = true

[tool.deptry]
package_module_name_map = {pyportfolioopt = "pypfopt", numpy = "numpy", pandas = "pandas", scipy = "scipy", matplotlib = "matplotlib", marimo = "marimo", polars = "polars", security = "security", pyarrow = "pyarrow", plotly = "plotly"}
ignore = ["DEP004"]
extend_exclude = [".rhiza"]
