[tool.poetry]
name = "pyhrp"
version = "0.0.0"
description = "..."
authors = ["Thomas Schmelzer"]
readme = "README.md"
repository = "https://github.com/tschm/pyhrp"
packages = [{include = "pyhrp"}]

[tool.poetry.dependencies]
python = ">=3.9.0"
pandas = ">=1.2.0"
scipy = ">=1.6.0"
matplotlib = ">=3.3.3"
scikit-learn = ">=0.24.1"

[tool.poetry.dev-dependencies]
pytest = "7.2.0"
pytest-cov = "*"

[build-system]
requires = ["poetry>=1.0.2"]
build-backend = "poetry.masonry.api"
