name: "book"

on:
- push

jobs:
  marimo:
    runs-on: "ubuntu-latest"
    steps:
      - name: "Build the virtual environment for ${{ github.repository }}"
        uses: tschm/cradle/actions/environment@v0.1.56

      - uses: cvxgrp/.github/actions/marimo@v2.2.8

  pdoc:
    runs-on: "ubuntu-latest"
    steps:
      - name: "Build the virtual environment for ${{ github.repository }}"
        uses: tschm/cradle/actions/environment@v0.1.56

      - uses: cvxgrp/.github/actions/pdoc@v2.2.8
        with:
          source-folder: 'src/pyhrp'

  age:
    runs-on: "ubuntu-latest"
    steps:
      - name: "Build the virtual environment for ${{ github.repository }}"
        uses: tschm/cradle/actions/environment@v0.1.56

      - uses: cvxgrp/.github/actions/age@v2.2.8

  test:
    runs-on: "ubuntu-latest"
    steps:
      - name: "Build the virtual environment for ${{ github.repository }}"
        uses: tschm/cradle/actions/environment@v0.1.56

      - uses: cvxgrp/.github/actions/coverage@v2.2.8
        with:
          source-folder: 'src/pyhrp'
          tests-folder: 'src/tests'

  jupyter:
    runs-on: "ubuntu-latest"
    steps:
      - name: "Build the virtual environment for ${{ github.repository }}"
        uses: tschm/cradle/actions/environment@v0.1.56

      - uses: cvxgrp/.github/actions/jupyter@v2.2.8

  book:
    runs-on: "ubuntu-latest"
    needs: [test, pdoc, jupyter, marimo, age]

    permissions:
      contents: write

    steps:
      - name: Checkout [${{ github.repository }}]
        uses: actions/checkout@v4

      - uses: cvxgrp/.github/actions/book@v2.2.8
