name: "book"

# Trigger the workflow on push events
# This ensures the documentation is automatically updated whenever code changes are pushed to main
on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  marimo:
    runs-on: "ubuntu-latest"
    steps:
      - uses: jebel-quant/marimushka@v0.1.1
        with:
          notebooks: 'book/marimo'
          notebooks_wasm: 'book/marimo'

  pdoc:
    runs-on: "ubuntu-latest"
    steps:
      - name: "Build the virtual environment for ${{ github.repository }}"
        uses: tschm/cradle/actions/environment@v0.1.72

      - uses: tschm/cradle/actions/pdoc@v0.1.72
        with:
          source-folder: 'src/pyhrp'

  test:
    runs-on: "ubuntu-latest"
    steps:
      - name: "Build the virtual environment for ${{ github.repository }}"
        uses: tschm/cradle/actions/environment@v0.1.72

      - uses: tschm/cradle/actions/coverage@v0.1.72
        with:
          source-folder: 'src/pyhrp'
          tests-folder: 'src/tests'

  book:
    runs-on: "ubuntu-latest"
    needs: [test, pdoc, marimo]

    environment:
      name: github-pages

    permissions:
      pages: write
      id-token: write

    steps:
      - name: Upload the book
        uses: tschm/miniBook/.github/actions/book@v0.0.14
        with:
          links: |
            {
              "API": "./pdoc/index.html",
              "Coverage": "./tests/html-coverage/index.html",
              "Test Report": "./tests/html-report/report.html",
              "Notebooks": "./marimushka/index.html"
            }
          #output: 'artifacts'
          title: 'MiniBook'
