name: "book"

on:
- push

jobs:
  marimo:
    runs-on: "ubuntu-latest"
    steps:
      - name: "Build the virtual environment for ${{ github.repository }}"
        uses: tschm/cradle/actions/environment@v0.1.63

      - uses: tschm/cradle/actions/marimo@v0.1.63

  pdoc:
    runs-on: "ubuntu-latest"
    steps:
      - name: "Build the virtual environment for ${{ github.repository }}"
        uses: tschm/cradle/actions/environment@v0.1.63

      - uses: tschm/cradle/actions/pdoc@v0.1.63
        with:
          source-folder: 'src/pyhrp'

  age:
    runs-on: "ubuntu-latest"
    steps:
      - name: "Build the virtual environment for ${{ github.repository }}"
        uses: tschm/cradle/actions/environment@v0.1.63

      - uses: tschm/cradle/actions/age@v0.1.63

  test:
    runs-on: "ubuntu-latest"
    steps:
      - name: "Build the virtual environment for ${{ github.repository }}"
        uses: tschm/cradle/actions/environment@v0.1.63

      - uses: tschm/cradle/actions/coverage@v0.1.63
        with:
          source-folder: 'src/pyhrp'
          tests-folder: 'src/tests'

  jupyter:
    runs-on: "ubuntu-latest"
    steps:
      - name: "Build the virtual environment for ${{ github.repository }}"
        uses: tschm/cradle/actions/environment@v0.1.63

      - uses: tschm/cradle/actions/jupyter@v0.1.63

  book:
    runs-on: "ubuntu-latest"
    needs: [test, pdoc, jupyter, marimo, age]

    permissions:
      contents: write

    steps:
      - name: Checkout [${{ github.repository }}]
        uses: actions/checkout@v4

      - uses: tschm/cradle/actions/book@v0.1.63
