name: "book"

on:
- push


jobs:
  sphinx:
    runs-on: "ubuntu-latest"
    steps:
      - uses: cvxgrp/.github/actions/sphinx@main

  test:
    runs-on: "ubuntu-latest"
    steps:
      - uses: cvxgrp/.github/actions/test@main
        with:
          source-folder: 'pyhrp'

  jupyter:
    runs-on: "ubuntu-latest"
    steps:
      - uses: cvxgrp/.github/actions/jupyter@main

  book:
    runs-on: "ubuntu-latest"
    needs: [test, sphinx, jupyter]
    steps:
      - uses: cvxgrp/.github/actions/book@main
